<!DOCTYPE html>
<html>
<head>
  <title>Katnip</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
  <%= stylesheet_link_tag 'jquery-ui-1.8.13.custom', :media => 'screen'%>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie', :media => 'screen, projection' %><![endif]-->
</head>
<body>

<%= yield %>
</body>
</html>
